# grub.cfg principal — /srv/tftp/boot/grub/grub.cfg
set timeout=10
set default=0

# Charge le fichier de config spécifique à la machine si il existe
if [ -f (pxe)/boot/grub/machines/${net_default_mac}.cfg ]; then
  configfile (pxe)/boot/grub/machines/${net_default_mac}.cfg
fi

# Menu par défaut si aucun fichier trouvé pour cette machine
menuentry "Linux (par defaut)" {
  insmod part_gpt
  insmod part_msdos
  insmod ext2
  ls
}
menuentry "Windows (par defaut)" {
  insmod part_gpt
  insmod part_msdos
  insmod chain
  insmod ntfs
  search --no-floppy --file --set=root /bootmgr
  chainloader +1
}
